/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
p{
	margin:0px;
}
body{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
.wrapper{
	max-width:1100px;
	height: 400px;
	
	
}
.gallery{
	
	display:flex;
	flex-wrap:wrap;
	
}
.gallery .image{
	width:calc(100%/3);
	height:192px;
	padding:7px;
	overflow:hidden;
	
	
	
}

.gallery .image span{
	display:inline-block;
	height:100%;
	width:100%;
	overflow:hidden;
	
	
}

.gallery .image img{
	width:100%;
	height:100%;
	vertical-align:middle;
	transition:all .3s ease;
	
	
}

.gallery .image:hover img{
	transform:scale(1.1)
}

@media (min-width:601px) and (max-width:850px){
	.gallery .image{
		width:calc(100%/2);
		
		
	}
	.gallery .image:nth-child(odd){
		
		padding:7px 0px 8px 40px;
		
	}
	.gallery .image:nth-child(even){
		
		padding:7px 40px 8px 15px;
		
	}
	
}


@media(max-width:600px){
	.gallery .image{
		width:calc(70%/1);
		margin:0px auto;
		min-width:300px;
		
		
	}
	.gallery .image:nth-child(odd){
		
		padding:10px 0px;
		
	}
	.gallery .image:nth-child(even){
		
		padding:10px 0px;
		
	}

}

.preview-box{
	transform:translate(-50%,-50%) scale(.9);
	
	top:50%;
	left:50%;
	position:fixed;
	max-width:600px;
	width:100%;
	
	padding:0px 5px 5px 5px;
	border-radius:3px;
	background:white;
	box-shadow:0px 0px 15px rgba(0,0,0,.2);
	/*opacity:0;
	pointer-events:none;*/
	display:none;
	transition:all 1s ease;
	
	
}
/*.preview-box.show{
	opacity:1;
	pointer-events:auto;
	transform:translate(-50%,-50%) scale(.9);
	transition:all 1s ease;
}
.preview-box.close{
	opacity:0;
	pointer-events:none;
	transform:translate(-50%,-50%) scale(.5);
	
}*/
.preview-box .details{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:12px 15px 12px 15px;
	
}
.preview-box .img-box{
	display:flex;
	width:100%;
	
}
.preview-box .title{
	display:flex;
	font-size:18px;
	font-weight:400;
	padding-right:10px;
	

	
}
.preview-box .title p.current-img {
	font-weight:600;
	
	
}
.preview-box .title p{
	margin:0px 5px;
	
	
}
.preview-box .details .icon{
	color:#007bff;
	cursor:pointer;
	font-size:20px;
	
	
}
.disable-color{
	color:green;
}
.preview-box .img-box img{
	
	width:100%;
	
}
.img-box .slide{
	position:absolute;
	top:50%;
	color:white;
	font-size:40px;
	cursor:pointer;
	width:60px;
	height:50px;
	text-align:center;
	line-height:50px;
}
.img-box .slide.next{
	
	right:0%;
}
.img-box .slide.prev{
	left:0%;
}




